/*Font Design*/

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
    font-family: "Bree Serif", serif;
}

/*Main*/
body {
    background-image: url(images/background.jpg);
    background-repeat: repeat-x;
}
html,
body {
    height: 100%;
}
.content {
    min-height: 80%;
}
.bottomdiv {
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-top: skyblue 2px solid;
    position: relative;
    clear: both;
    bottom: 0;
}
.buttonstyle1 {
    border-right: inactivecaption 1px solid;
    border-top: inactivecaption 1px solid;
    border-left: inactivecaption 1px solid;
    border-bottom: inactivecaption 1px solid;
    background-color: #434e54;
    color: Yellow;
    font-family: Palatino Linotype;
    font-weight: bolder;
    font-size: 9pt;
    cursor: pointer;
}
.buttonstyle1:hover {
    background-color: #003366;
    color: White;
}
.buttonstyle2 {
    font-family: Palatino Linotype;
    font-size: 10pt;
    font-weight: bolder;
}
.buttonstyle2:hover {
    color: Maroon;
}
.menu {
    background-color: #003333;
    cursor: pointer;
    /* height: 25px;
    width: 100px; */
    font-size: 10pt;
    color: white;
    font-family: Verdana;
    /* border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none; */
    border-radius: 0px 0px 0px 0px;
}
.menu:hover {
    background-color: #00c0c0;
}
.signoutbtn {
    color: White;
    background-color: #003333;
    border-style: None;
    font-family: Palatino Linotype;
    font-size: 10pt;
    font-weight: bold;
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.signoutbtn:hover {
    color: rgb(241, 16, 8);
}
.power {
    font-size: smaller;
    vertical-align: middle;
    color: black;
    font-style: normal;
    font-family: Palatino Linotype;
    font-variant: small-caps;
    text-transform: capitalize;
    text-decoration: none;
    float: center;
    text-align: center;
}
.sidebaropt {
    cursor: pointer;
    font-weight: bold;
    font-size: 8pt;
    color: white;
    margin-top: 4px;
    padding-top: 5px;
    font-family: Verdana;
    height: 25px;
    background-color: #003333;
    text-decoration: none;
    float: center;
    text-align: center;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.sidebaropt:hover {
    background-color: #00c0c0;
}
.options {
    color: White !important;
    font-size: 11px;
    font-weight: bold;
    font-family: arial, sans-serif;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    background-image: url(images/1.png);
    border: skyblue 2px solid;
    float: center;
    text-align: center;
}
.options:hover {
    background-image: url(images/2.png);
}
.optionline {
    margin: 0px 0px 0px 0px;
    border-top: #085893 3px solid;
    position: relative;
    clear: both;
    bottom: 0;
    margin-top: -0.5rem !important;
    margin-right: 1rem !important;
}
.mainopt {
    margin-left: -1rem !important;
}
.formheader {
    color: #003333 !important;
}
.formheader:hover {
    color: #00c0c0 !important;
}
.list {
    font-family: Verdana;
    font-size: small;
}
.tableheader {
    background-color: #1c5e55 !important;
    color: white;
}
.tableheader:hover {
    background-color: #00c0c0 !important;
}

/* Status Button */
.status {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.status input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #17cf4e;
}
input:focus + .slider {
    box-shadow: 0 0 1px #e40a0a;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .mainpage {
        /* margin-left: 1rem !important; */
        margin-right: 1rem !important;
    }
}
@media only screen and (max-width: 600px) {
    .mainopt {
        /* margin-left: -1rem !important; */
        margin-right: -1rem !important;
    }
}
